
.GraphInfo {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: fit-content;
  margin-left: calc(100% + 16px);
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 8px;
  padding: 0 16px 0 16px;
  transition: opacity 300ms ease-in-out;
  text-align: center;

}
